<div align="center">
    <ul class="list-inline">
        <li>@Html.ActionLink("Preguntas frecuentes", "Faqs", "Footer")</li>
        <li>@Html.ActionLink("Preferencias de cookies", "Cookies", "Footer")</li>
        <li>@Html.ActionLink("Términos de uso", "Terminos", "Footer")</li>
        <li>@Html.ActionLink("Contacto", "Contact", "Footer")</li>
        <li>@Html.ActionLink("Ayuda", "Ayuda", "Footer")</li>
    </ul>
    <p>&copy; @DateTime.Now.Year - YoureOn</p>
</div>