@model WebApplication1.Models.Usuario

<div>
    <h4>Usuario</h4>
    <hr />

    <img src="~/Archivos/@Html.DisplayFor(model => model.Foto)" alt="@Html.DisplayNameFor(model => model.Foto)" width="100" height="100" />

    <p>@Html.DisplayNameFor(model => model.Nombre): @Html.DisplayFor(model => model.Nombre)</p>
    <p>@Html.DisplayNameFor(model => model.Apellidos): @Html.DisplayFor(model => model.Apellidos)</p>
    <p>@Html.DisplayNameFor(model => model.FechaNac): @Html.DisplayFor(model => model.FechaNac)</p>
    <p>@Html.DisplayNameFor(model => model.NIF): @Html.DisplayFor(model => model.NIF)</p>
    <p>@Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(model => model.Email)</p>

    @{
        // Sólo para usuarios normales
        if ((!HttpContext.Current.User.IsInRole("Administrador")) &&
            (!HttpContext.Current.User.IsInRole("Moderador")))
        {
            <p>@Html.DisplayNameFor(model => model.Perfil): @Html.DisplayFor(model => model.Perfil)</p>
        }
    }

</div>
<p class="btn btn-default">@Html.ActionLink("Volver", "Index", "Home")</p>
@{
    // Sólo para usuarios normales
    if ((!HttpContext.Current.User.IsInRole("Administrador")) &&
        (!HttpContext.Current.User.IsInRole("Moderador")))
    {
        <p class="btn btn-default">@Html.ActionLink("Editar datos", "Edit")</p>
        <p class="btn btn-default">@Html.ActionLink("Borrar cuenta", "Delete")</p>
    }
}

