@model WebApplication1.Models.Usuario
@using YoureOnGenNHibernate.EN.YoureOn;

<div>

    <h2>@Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.Apellidos) - @Html.DisplayFor(model => model.NIF)</h2>

    <br />
    <p>Total leves: @ViewBag.Leve</p>
    <p>
        Tiene grave:
        @{
            if (@ViewBag.Grave)
            {
                <span>Sí</span>
            }
            else
            {
                <span>No</span>
            }
        }
    </p>

    @{ // 3 leves o 1 grave
        if ((ViewBag.Leve == 3) || (ViewBag.Grave))
        {
            if (ViewBag.Vetado)
            {
                <span class="btn btn-default">@Html.ActionLink("Desvetar usuario", "VetarUsuario", new { email = ViewBag.Email })</span>
            }
            else
            {
                <span class="btn btn-default">@Html.ActionLink("Vetar usuario", "VetarUsuario", new { email = ViewBag.Email })</span>
            }
        }
    }

    @{
        if ((ViewBag.Leve < 3) && (!ViewBag.Grave))
        {
            using (Html.BeginForm("Create", "Admin"))
            {
                @Html.AntiForgeryToken()

                <p>Añadir falta @Html.DropDownList("faltas", (List<SelectListItem>)ViewBag.ListaEnum)</p>

                @Html.HiddenFor(model => model.Email)
                <input type="submit" value="Añadir" class="btn btn-default" />
            }
        }
    }

    @{
        if ((!ViewBag.Grave) && (!ViewBag.Vetado))
        {
            <table class="table">
                <tr>
                    <th>Fecha</th>
                    <th>Tipo</th>
                    <th></th>
                    <th></th>
                </tr>
                @{
                    foreach (FaltaEN f in ViewBag.ListaF)
                    {
                        <tr>
                            <td>@f.Fecha</td>
                            <td>@f.TipoFalta</td>
                            <td>
                                @Html.ActionLink("Eliminar falta", "Delete", new { id = @f.Id_falta })
                            </td>
                        </tr>
                    }
                }
            </table>
        }
    }

</div>